/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .header .nav {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

.nav img {
  width: 50px;
  height: 50px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding-right: 10px;
}

.footer {
  width: 100%;
  padding: 10px 30px;
  font-size: 30px;
  background-color: gray;
  color: white;
  text-align: center;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: #21222a;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-self: center;
  gap: 10px;
}

.navbar .logo img {
  width: 30px;
  height: 30px;
}

.navbar .logo h2 {
  font-weight: bold;
  color: #61dafb;
}

.navbar p {
  color: #deebf8;
}

.div-content {
  width: 100%;
  height: auto;
  padding: 60px 15px 100px;
  background-color: #00000d;
  background-image: url("./images/React-icon.svg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 400px 200px;
}

.div-content h1 {
  font-weight: 800;
  color: white;
  margin-bottom: 25px;
}

.div-content .list-items {
  color: gainsboro;
  padding-left: 50px;
}

.list-items li {
  margin-bottom: 10px;
}

.list-items li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
